# Question#1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
df = pd.read_csv(r'/content/Cutlets.csv')

In [3]:
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
df.shape

(35, 2)

In [5]:
df.rename(columns={'Unit A':'A', 'Unit B':'B'}, inplace = True)

In [6]:
df

         A       B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [7]:
A = pd.Series(df.iloc[:,0])
B = pd.Series(df.iloc[:,-1])

In [8]:
stats.ttest_ind(A,B)

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

# Question#2

In [9]:
Labtat_df = pd.read_csv(r'/content/LabTAT.csv')

In [10]:
Labtat_df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [11]:
df.shape

(35, 2)

In [12]:
p_value = stats.f_oneway(Labtat_df.iloc[:,0], Labtat_df.iloc[:,1],Labtat_df.iloc[:,2],Labtat_df.iloc[:,3])

In [13]:
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

# Question#3

In [14]:
Buyer_df = pd.read_csv(r'/content/BuyerRatio.csv')

In [15]:
Buyer_df.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [16]:
males = pd.Series([50,142,131,70])

In [17]:
Females = pd.Series([435, 1523, 1356, 750])

In [18]:
stats.ttest_ind(males, Females)

Ttest_indResult(statistic=-3.5834877367684856, pvalue=0.011594334372357056)

#pvalue obtained is less than 0.05, we reject Null Hypothesis and accept alternate hypothesis

#Question#4

In [19]:
Customer_df = pd.read_csv(r'/content/Costomer+OrderForm.csv')

In [20]:
Customer_df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [21]:
Customer_df.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [22]:
Customer_df.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [23]:
Customer_df.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [24]:
Customer_df.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [25]:
Error_Free = pd.Series([270, 267, 269, 280])

In [26]:
Defective = pd.Series([29, 33, 31, 20])

In [29]:
stats.ttest_ind(Error_Free, Defective)

Ttest_indResult(statistic=59.62111284075854, pvalue=1.496168897619978e-09)